---
import Link from '../Link.astro';

type Props = {
  alt: string;
  title: string;
  link: string;
};
const { alt, title, link } = Astro.props;
---

<li class="flex flex-row gap-2">
  <slot name="icon" />
  <Link external href={link} aria-label={alt}>
    <span class="text-lg font-medium">{title}</span>
  </Link>
</li>
