<div>
  <p class="pt-2 opacity-90">
    Hello, and welcome to my website. I'm a Finnish full-stack developer.
  </p>
  <p class="pt-2 opacity-90">
    Some of my interests in IT are computers, programming, software documentation, testing, and
    deployment, Linux servers, networking, and picture/video editing.
  </p>
  <p class="pt-2 opacity-90">
    My other hobbies are mostly reading books and listening to music. Sometimes I watch
    documentaries, movies and TV shows. To keep track of everything I have read and watched, I
    created
    <a href="https://eino.jankku.fi">Eino</a>. More about it below.
  </p>
</div>
