---
import type { HTMLAttributes } from 'astro/types';
import SectionTitle from '../SectionTitle.astro';
import List from '../List.astro';
import ListItem from '../ListItem.astro';

type Props = HTMLAttributes<'section'>;
const props = Astro.props;

const frontendTechnologies = [
  'HTML and CSS',
  'TypeScript',
  'React and React Native',
  'Vue',
  'Native Android apps',
];

const backendTechnologies = [
  'Linux',
  'Java and Kotlin',
  'Node.js and Express.js',
  'PostgreSQL',
  'Docker (including Compose)',
];
---

<section {...props}>
  <SectionTitle title="Technologies" />
  <p class="pb-8">
    Below are some of the programming languages, frameworks, and technologies I have worked with
    professionally or used in personal projects.
  </p>
  <div class="flex flex-col gap-8 md:flex-row md:gap-12">
    <div>
      <h3 id="frontend" class="text-lg font-medium pb-3">Frontend</h3>
      <List aria-labelledby="frontend">
        {frontendTechnologies.map((tech) => <ListItem>{tech}</ListItem>)}
      </List>
    </div>
    <div>
      <h3 id="backend" class="text-lg font-medium pb-3">Backend</h3>
      <List aria-labelledby="backend">
        {backendTechnologies.map((tech) => <ListItem>{tech}</ListItem>)}
      </List>
    </div>
  </div>
</section>
