---
import type { HTMLAttributes } from 'astro/types';
import SectionTitle from '../SectionTitle.astro';

type Props = HTMLAttributes<'section'>;
const props = Astro.props;

const frontendTechnologies = [
  'HTML/CSS',
  'JavaScript/TypeScript',
  'React & React Native',
  'Vue',
  'Kotlin (Android)',
];

const backendTechnologies = [
  'Linux',
  'Java',
  'Node.js & Express.js',
  'PostgreSQL',
  'Docker (including Compose)',
];
---

<section {...props}>
  <SectionTitle>Technologies</SectionTitle>
  <div class="flex flex-col gap-6 md:flex-row md:gap-12">
    <fieldset>
      <legend>
        <h3 class="text-xl font-medium pb-2">Frontend</h3>
      </legend>
      <ul class="list-inside indent-1 [list-style-type:circled-alpha]">
        {frontendTechnologies.map((tech) => <li class="before:ps-2 marker:text-xl">{tech}</li>)}
      </ul>
    </fieldset>
    <fieldset>
      <legend>
        <h3 class="text-xl font-medium pb-2">Backend</h3>
      </legend>
      <ul class="list-inside indent-1 [list-style-type:circled-alpha]">
        {backendTechnologies.map((tech) => <li class="before:ps-2 marker:text-xl">{tech}</li>)}
      </ul>
    </fieldset>
  </div>
</section>
