* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1f2028;
  --text-color: #eee;
  --accent-color: #4c9ee1;
  --link-color: #6590b3;
  --introduction-bg-color: #252731;
  --introduction-text-opacity: 0.9;
  --card-color: #32343f;
  --card-text-color: #eee;
  --card-text-opacity: 0.9;
  --card-hover-color: #3e3f4d;
  --card-border-color: #404455;
  --pill-bg-color: var(--bg-color);
  --pill-text-color: var(--text-color);
  --card-hover-border-color: var(--accent-color);
  --border-color: #404455;
  --border-radius: 6px;
  --footer-bg-color: #252731;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --bg-color: #f0efed;
    --text-color: #34343d;
    --accent-color: #1679ca;
    --link-color: #2e7ec0;
    --introduction-bg-color: #ffffff;
    --introduction-text-opacity: 1;
    --card-color: #ffffff;
    --card-text-color: var(--text-color);
    --card-text-opacity: 1;
    --card-border-color: #dfdcd7;
    --card-hover-color: #dfeeff;
    --card-hover-border-color: var(--accent-color);
    --pill-bg-color: var(--text-color);
    --pill-text-color: var(--bg-color);
    --border-color: var(--text-color);
    --border-radius: 6px;
    --footer-bg-color: var(--text-color);
    --footer-text-color: #f0efed;
  }

  .project-card {
    box-shadow: 1px 4px 4px #e2e2e2;
  }
}

body {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  padding: 1em 1em 0em 1em;
}

a {
  color: var(--link-color);
  text-decoration: underline solid 2px;
  text-decoration-skip-ink: none;
}

section {
  margin: 1em 0em;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 1em;
}

::selection {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.section-title {
  padding-bottom: 0.5em;
}

/* INTRODUCTION */

.introduction {
  background-color: var(--introduction-bg-color);
  padding: 2em 2em 0em 2em;
  margin-bottom: 2.5em;
  border: 6px double var(--border-color);
  border-width: 6px;
  border-radius: var(--border-radius);
}

.introduction-title {
  font-size: 2rem;
  padding-bottom: 0.4em;
  border-bottom: 4px solid var(--accent-color);
  text-align: center;
}

.introduction-text {
  padding-top: 0.5em;
  opacity: var(--introduction-text-opacity);
}

.tech-title {
  padding: 0.5em 0em;
}

.tech-list {
  padding: 0.3em 0.5em;
  list-style: none;
  opacity: var(--introduction-text-opacity);
}

.contact {
  display: flex;
  padding: 1.5em 0em;
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
}

.contact-item:nth-child(2) {
  margin-left: 1.5em;
}

.contact-icon {
  width: 34px;
  fill: var(--text-color);
  margin-right: 0.3em;
  justify-self: baseline;
  vertical-align: middle;
}

/* PROJECTS */

.projects {
  display: flex;
  flex-flow: row wrap;
}

.project-card {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  color: var(--card-text-color);
  background-color: var(--card-color);
  border: 2px solid var(--card-border-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  margin-bottom: 1em;
  overflow: hidden;
}

.project-card:hover {
  background-color: var(--card-hover-color);
  border: 2px solid var(--card-hover-border-color);
}

.project-gradient {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  height: 11em;
}

.project-img-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.project-img {
  width: 5em;
  height: 5em;
}

.project-tags {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1em 1em 0.5em 0em;
}

.project-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.1px;
  background-color: var(--pill-bg-color);
  color: var(--pill-text-color);
  margin-left: 0.2em;
  border-radius: 16px;
  padding: 0.2em 0.5em;
}

.project-tag-text {
  text-align: center;
  align-self: center;
}

.project-content {
  padding: 1em;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-icon {
  width: 24px;
  height: 24px;
  fill: var(--card-text-color);
}

.project-title {
  font-size: 1.2em;
}

.project-description {
  padding-bottom: 0.5em;
  opacity: var(--card-text-opacity);
}

.project-section {
  padding-bottom: 0.5em;
}

.project-section-label {
  font-size: 1.1em;
  padding: 0.2em 0em;
}

.project-section-list {
  padding: 0.2em 1em;
}

.project-section-list-item {
  padding: 0.1em 0em;
  opacity: var(--card-text-opacity);
}

#gradient-eino {
  background: rgb(55, 83, 110);
  background: linear-gradient(0deg, rgba(55, 83, 110, 1) 0%, rgba(113, 182, 248, 1) 100%);
}

#gradient-alphawall {
  background: rgb(92, 71, 108);
  background: linear-gradient(0deg, rgba(92, 71, 108, 1) 0%, rgba(87, 136, 217, 1) 100%);
}

#gradient-yle-rss-reader {
  background: rgb(56, 75, 98);
  background: linear-gradient(0deg, rgb(56, 75, 98) 0%, rgba(87, 146, 217, 1) 100%);
}

#gradient-notes {
  background: rgb(23, 113, 71);
  background: linear-gradient(0deg, rgba(23, 113, 71, 1) 0%, rgba(110, 197, 151, 1) 100%);
}

/* SELF-HOSTED */

.self-hosted {
  list-style: none;
}

.self-hosted-item {
  padding: 0.4em 0em;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  body {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 580px;
    margin: 0 auto;
  }

  .tech-title {
    text-align: center;
    padding: 0.5em 0em;
    margin: 0em 2em;
  }

  .tech-list {
    padding: 0em;
  }

  .tech-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .contact {
    justify-content: center;
    margin: 0.5em 0em;
  }
}

@media only screen and (min-width: 900px) {
  body {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 0em;
  }

  footer {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .introduction {
    padding: 2em 6em 0em 6em;
  }

  .introduction-text {
    padding-top: 0.5em;
  }

  .tech-title {
    padding-top: 0.5em;
  }

  .tech-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 2em;
  }

  .project-card {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 1em;
  }

  .project-tags {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0em 0.5em;
  }

  .project-tag {
    font-size: 0.9em;
  }

  .project-content {
    width: 100%;
    flex-grow: 1;
    padding: 0em 1em 0em 0em;
  }

  .project-gradient {
    border-radius: var(--border-radius);
    max-width: 15em;
    min-height: 11em;
  }
}
