---
import Introduction from '@/sections/Introduction.astro';
import Projects from '@/sections/Projects.astro';
import Layout from '@/layouts/Layout.astro';
import Selfhosting from '@/sections/Selfhosting.astro';
import Technologies from '../components/introduction/Technologies.astro';
---

<Layout title="Jan-Erik">
  <main class="min-h-screen">
    <div class="mb-12 bg-sky-50 bg-[url('/hero.svg')] pt-8 dark:bg-slate-900">
      <div class="bg-gradient-to-t from-white dark:from-slate-950">
        <h1 class="pt-16 text-center text-5xl font-bold md:pt-12">Jan-Erik</h1>
      </div>
    </div>
    <div class="mx-auto flex max-w-xl flex-col gap-12 px-8 pb-12 md:px-0">
      <Introduction />
      <Technologies />
      <Projects />
      <Selfhosting />
    </div>
  </main>
</Layout>
