---
import Introduction from '@/sections/Introduction.astro';
import Projects from '@/sections/Projects.astro';
import Layout from '@/layouts/Layout.astro';
import Selfhosting from '@/sections/Selfhosting.astro';
import Technologies from '../components/introduction/Technologies.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import SkipToMain from '@/components/SkipToMain.astro';
import BackToTop from '@/components/BackToTop.astro';
---

<script>
  const onScroll = () => {
    const backToTop = document.getElementById('back-to-top')!;
    const scrolledTo = window.scrollY + window.innerHeight;
    const tenPercent = document.body.scrollHeight * 0.1;
    const isBottomReached = document.body.scrollHeight - tenPercent <= scrolledTo;
    if (isBottomReached) {
      backToTop.classList.add('fixed');
      backToTop.classList.remove('hidden');
    } else {
      backToTop.classList.remove('fixed');
      backToTop.classList.add('hidden');
    }
  };
  window.addEventListener('scroll', onScroll);
</script>

<Layout title="Jan-Erik">
  <SkipToMain />
  <span id="top" tabindex="-1"></span>
  <header class="mb-12 bg-blue-50 bg-[url('/hero.svg')] pt-8 dark:bg-slate-900">
    <div class="bg-gradient-to-t from-slate-50 dark:from-slate-950">
      <h1 id="title" class="pt-16 md:pt-12 text-center text-5xl font-bold">Jan-Erik</h1>
    </div>
  </header>
  <TableOfContents
    className="hidden lg:block lg:fixed lg:right-0 lg:w-fit lg:h-fit lg:pe-8 xl:pe-12"
    titleClassName="font-medium pb-2"
  />
  <main
    id="main"
    tabindex="-1"
    class="mx-auto grow flex-1 flex max-w-xl flex-col gap-12 pb-12 px-6 md:px-0"
  >
    <Introduction />
    <TableOfContents className="block lg:hidden" titleClassName="text-lg font-medium pb-3" />
    <Technologies />
    <Projects />
    <Selfhosting />
    <BackToTop />
  </main>
</Layout>
