---
import { Icon } from 'astro-icon/components';

type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a href={href} class="group inline-flex gap-1">
  <slot />
  <Icon
    name="external-link"
    size={16}
    class="inline-flex text-cyan-700 dark:text-cyan-500 opacity-0 group-hover:opacity-100"
  />
</a>
