---
import { Icon } from 'astro-icon/components';

type Props = {
  link: string;
};

const { link } = Astro.props;
---

<a
  href={link}
  rel="noopener noreferrer"
  class="no-underline inline-flex items-center gap-2 rounded-lg bg-neutral-800 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-neutral-700"
>
  <Icon name="github" class="w-4 fill-white" />
   GitHub
</a>
