---
import ArrowTopRightIcon from '../icons/arrow-top-right.svg';

type Props = {
  link: string;
};

const { link } = Astro.props;
---

<a
  href={link}
  rel="noopener noreferrer"
  class="no-underline inline-flex items-center px-4 py-2 text-center font-semibold gap-1 rounded-lg border border-sky-400 bg-sky-500 hover:bg-sky-400 hover:border-sky-300"
>
  <span class="[padding-top:2px] md:pt-0 text-white">Open</span>
  <ArrowTopRightIcon width={22} height={22} class="fill-white self-center" aria-hidden="true" />
</a>
