---
import { Icon } from 'astro-icon/components';

type Props = {
  link: string;
};

const { link } = Astro.props;
---

<a
  href={link}
  rel="noopener noreferrer"
  class="no-underline inline-flex items-center px-5 py-2.5 text-center font-semibold gap-1 rounded-lg border border-sky-400 bg-sky-500 text-white hover:bg-sky-400 hover:border-sky-300"
>
  Open
  <Icon name="arrow-top-right" class="text-l fill-white self-center" />
</a>
