---
import Line from './Line.astro';
---

<div class="flex flex-row items-center gap-2 pb-10">
  <h2 class="flex-shrink text-lg font-bold tracking-widest uppercase">
    <slot />
  </h2>
  <Line />
</div>
