---
import Link from './Link.astro';

type Props = {
  className: string;
};

const { className } = Astro.props;
---

<nav class={`${className}`} aria-labelledby="table-of-contents">
  <h2 id="table-of-contents" class="text-xs pb-3 tracking-widest uppercase font-semibold">
    Table of contents
  </h2>
  <ul class="flex flex-col gap-1">
    <li>
      <Link href="#technologies">Technologies</Link>
    </li>
    <li>
      <Link href="#projects">Projects</Link>
    </li>
    <li>
      <Link href="#self-hosting">Self-hosting</Link>
    </li>
  </ul>
</nav>
