---
import Link from './Link.astro';

type Props = {
  className: string;
  titleClassName: string;
};

const { className, titleClassName } = Astro.props;
---

<nav class={`${className}`} aria-labelledby="table-of-contents">
  <h2 id="table-of-contents" class={titleClassName}>Contents</h2>
  <ul class="flex flex-col gap-1">
    <li>
      <Link href="#technologies">Technologies</Link>
    </li>
    <li>
      <Link href="#projects">Projects</Link>
    </li>
    <li>
      <Link href="#self-hosting">Self-hosting</Link>
    </li>
  </ul>
</nav>
