---
export type Props = {
  label: string;
  size?: 'sm' | 'md';
  color?: 'gray' | 'blue';
};
const { label, size = 'md', color = 'gray' } = Astro.props;

const sizes = {
  sm: 'px-2 py-0.5 text-xs tracking-wider',
  md: 'px-2 pt-0.5 text-xs md:text-sm tracking-wider',
};

const colors = {
  gray: 'bg-gray-900 text-gray-200',
  blue: 'bg-slate-100 text-slate-900 ring-gray-300 dark:bg-slate-800 dark:text-blue-100 ring-1 dark:ring-slate-700',
};
---

<li class=`rounded-lg font-semibold ${colors[color]} ${sizes[size]}`>
  {label}
</li>
