---
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full flex flex-col gap-4 border-t-2 border-gray-300 bg-gray-200 px-6 py-8 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-100"
>
  <p>&copy; Jan-Erik, {currentYear}</p>
  <p class="opacity-90 text-sm">
    This website uses a self-hosted instance of Plausible Analytics. For more information see
    <a href="https://plausible.io/data-policy" rel="noreferrer">Plausible's data policy</a>.
  </p>
</footer>
