---
import type { HTMLAttributes } from 'astro/types';
import ContactItem from '@/components/introduction/ContactItem.astro';
import Link from '@/components/Link.astro';
import GitHubIcon from '../icons/github.svg';
import DiscordIcon from '../icons/discord.svg';

type Props = HTMLAttributes<'section'>;
const props = Astro.props;
---

<section {...props} class="flex flex-col gap-6">
  <div class="flex flex-col gap-2">
    <p>
      Hello 👋 and welcome to my little website. I'm a passionate full-stack developer from
      Finland&nbsp;🇫🇮.
    </p>
    <p>
      I am highly interested in programming, especially full-stack and mobile development. I know my
      way around Linux servers and deploy this and my other websites on a VPS. In web development a
      good user experience and accessibility are important to me.
    </p>
    <p>
      In my free time I read a lot, mostly books, blog posts and articles. I also like listening to
      music. Sometimes I watch documentaries, movies and TV shows. To keep track of everything I
      have read and watched, I created
      <Link href="https://eino.jankku.fi">Eino</Link> — more about it below.
    </p>
  </div>
  <ul class="flex gap-6">
    <ContactItem alt="GitHub – Jankku" link="https://github.com/Jankku/" title="Jankku">
      <GitHubIcon
        width={28}
        height={28}
        slot="icon"
        class="fill-white self-center"
        aria-hidden="true"
      />
    </ContactItem>
    <ContactItem
      alt="Discord – Jankku"
      link="https://discordapp.com/users/157855363352363008"
      title="Jankku"
    >
      <DiscordIcon
        width={28}
        height={28}
        slot="icon"
        class="fill-white self-center"
        aria-hidden="true"
      />
    </ContactItem>
  </ul>
</section>
