---
import Link from '@/components/Link.astro';
import List from '@/components/List.astro';
import ListItem from '@/components/ListItem.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'section'>;
const props = Astro.props;
---

<section {...props}>
  <SectionTitle title="Self-hosting" />
  <p class="pb-4">
    This and my other websites are self-hosted. I also self-host some third-party services which are
    listed below.
  </p>
  <List aria-labelledby="self-hosting">
    <ListItem class="list-decimal marker:[font-family:Concourse-Index]">
      <Link href="https://status.jankku.fi">Uptime Kuma (status.jankku.fi)</Link>
    </ListItem>
    <ListItem class="list-decimal marker:[font-family:Concourse-Index]">
      <Link href="https://rss.jankku.fi">Miniflux (rss.jankku.fi)</Link>
    </ListItem>
    <ListItem class="list-decimal marker:[font-family:Concourse-Index]">
      <Link href="https://analytics.jankku.fi">Plausible Analytics (analytics.jankku.fi)</Link>
    </ListItem>
  </List>
</section>
