---
import Link from '@/components/Link.astro';
import List from '@/components/List.astro';
import ListItem from '@/components/ListItem.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'section'>;
const props = Astro.props;
---

<section {...props}>
  <SectionTitle title="Self-hosting" />
  <p class="pb-8">
    This and my other websites are hosted on a VPS using Nginx and Docker Compose. I also host some
    third-party services which are listed below.
  </p>
  <List aria-labelledby="self-hosting">
    <ListItem>
      <Link href="https://status.jankku.fi">Uptime Kuma (status.jankku.fi)</Link>
    </ListItem>
    <ListItem>
      <Link href="https://rss.jankku.fi">Miniflux (rss.jankku.fi)</Link>
    </ListItem>
    <ListItem>
      <Link href="https://analytics.jankku.fi">Plausible Analytics (analytics.jankku.fi)</Link>
    </ListItem>
  </List>
</section>
