---
import ExternalLink from '@/components/ExternalLink.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'section'>;
const props = Astro.props;
---

<section {...props}>
  <SectionTitle>Self-hosting</SectionTitle>
  <p class="pb-6">
    This and my other websites are self-hosted. Here's a list of third-party services I'm currently
    hosting.
  </p>
  <ul class="mb-4 list-none flex flex-col gap-3">
    <li>
      <ExternalLink href="https://status.jankku.fi">Uptime Kuma (status.jankku.fi)</ExternalLink>
    </li>
    <li>
      <ExternalLink href="https://rss.jankku.fi">Miniflux (rss.jankku.fi)</ExternalLink>
    </li>
    <li>
      <ExternalLink href="https://analytics.jankku.fi">
        Plausible Analytics (analytics.jankku.fi)
      </ExternalLink>
    </li>
  </ul>
</section>
